html, body {
    background-color: #fdf5e6;
    font-family: 'Montserrat', serif;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fffdf5;
    padding: 3px;
    border-radius: 12px;
}

h1, h2, h3 {
    font-family: 'Montserrat', serif;
    color: #3b2b2b;
    outline: none;
    border: none;
}

button, .btn {
    background-color: inherit;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.6s;
    align-content: flex-start;
}
button:hover, .btn:hover {
    background-color: #b5865e;
}

.recipe-card {
    background-color: #fff8ec;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.markdown-body {
    font-size: 1rem;
    line-height: 1.6;
}

.text-center {
    text-align: center;
    padding: 2rem 0;
}

.site-title {
    font-family: 'Montserrat', serif;
    font-size: 2rem;
    border: 3px solid  #604631;
}

.recipe-view {
    background-color: #fdfaf4;
    max-width: 800px;
    margin: 0 auto;
}

article {
    text-align: left;
    padding: 2rem;
}

.delete-btn:hover {
    background-color: #f8444a;
    border-color: #f5c2c7;
    color: #842029;
}

.recipe-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 0.3rem;
}

.recipe-item {
    background-color: inherit;
    border: none;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.recipe-item:hover {
    outline: none;
    background-color: #f6f3f0;
}

.recipe-title {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #604631;
}

.recipe-actions button {
    background: none;
    border: none;
    padding: 0;
}

.recipe-actions img {
    filter: brightness(0) saturate(100%) invert(30%) sepia(19%) saturate(602%) hue-rotate(348deg) brightness(96%) contrast(87%);
}

.recipe-ingredients {
    font-size: 0.95rem;
    color: #8c7a65;
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
    padding-top: 1rem;
}

.search-container {
    padding: 1rem;
    max-width: 100%;
    box-sizing: border-box;
}

.search-box {
    width: 100%;
    border: none;
    border-radius: 12px;
    background-color: #f5eadd;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #4b2e2e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.2s ease-in-out;
    box-sizing: border-box;
    padding: 0.6rem 1rem;
}

.search-box::placeholder {
    color: #a59382;
    font-style: italic;
}

.search-box:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(155, 125, 95, 0.2);
}

.search-and-add {
    display: flex;
    flex-direction: column;

    margin: 0 auto 0.3rem auto;
    width: 100%;
    padding: 0;
}

.add-button {
    font-size: 1rem;
    margin: 0 1rem;
    padding: 0.5rem 1.2rem;
    border-radius: 12px;
    background-color: #a67c52;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #8b6744;
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    gap: 0.5rem;
    list-style: none;
}

.page-item {
    display: inline-block;
}

.page-link {
    background-color: #f6f3f0;
    color: #5c4438;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.page-link:hover {
    background-color: #e3dcd3;
}

.page-item.active .page-link {
    background-color: #a67c52;
    color: white;
    cursor: default;
}

.page-item.disabled .page-link {
    opacity: 0.4;
    cursor: not-allowed;
}

.recipe-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.ingredient-table {
    border-collapse: collapse;
    font-size: 0.95rem;
    color: #4b2e2e;
    margin-top: 1.5rem;
    white-space: normal;
    word-break: break-word;
    table-layout: fixed;
}

.ingredient-table th,
.ingredient-table td {
    padding: 0.4rem 0.6rem;
    border-bottom: 1px solid #f0e6d8;
    vertical-align: top;
    text-align: left;
    word-break: break-word;
    white-space: normal;
    width: 60%;
}

.ingredient-table th {
    font-weight: 600;
    color: #7a6654;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.ingredient-table td:first-child {
    max-width: 200px;
}

.ingredient-table tr:last-child td {
    border-bottom: none;
}


.ingredient-table td {
    padding: 0.4rem;
    vertical-align: middle;
}

.ingredient-table th {
    background-color: #f6f3f0;
    color: #604631;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #e8e1d9;
}

.ingredient-table input,
.ingredient-table select {
    border: 1px solid #e3dcd3;
    border-radius: 8px;
    background-color: #fdfaf4;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #4b2e2e;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    min-width: 100px;
    padding: 0.3rem;
    font-size: 0.95rem;
}

.ingredient-table input:focus,
.ingredient-table select:focus {
    outline: none;
    border-color: #a67c52;
    box-shadow: 0 0 0 2px rgba(155, 125, 95, 0.15);
}

.quantity-unit input {
    flex: 2;
    min-width: 40px;
}

.quantity-unit select {
    flex: 1;
    min-width: 30px;
}

.recipe-title-input {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Montserrat', serif;
    border: none;
    border-bottom: 2px solid #a67c52;
    background-color: transparent;
    color: #3b2b2b;
    outline: none;
    width: 100%;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    transition: border-color 0.3s ease;
}

.recipe-title-input:focus {
    border-color: #604631;
    background-color: #fffaf3;
}

.image-upload-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem ;
}

.image-upload-label {
    cursor: pointer;
    text-align: center;
}

.recipe-image-preview {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.recipe-image-preview:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.image-placeholder {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f5eadd;
    color: #a4937d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.image-placeholder:hover {
    background-color: #e8dac8;
}

.upload-icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.d-none {
    display: none !important;
}

.form-label {
}

.text-danger {
    color: #ff0300;
}

.list-ingredient-table {
    border-collapse: collapse;
    font-size: 0.95rem;
    color: #4b2e2e;
    margin-top: 1.5rem;
    white-space: normal;
    word-break: break-word;
    table-layout: fixed;
}

    .list-ingredient-table th,
    .list-ingredient-table td {
        padding: 0.4rem 0.6rem;
        border-bottom: 1px solid #f0e6d8;
        vertical-align: top;
        text-align: center;
        word-break: break-word;
        white-space: normal;
    }

        .list-ingredient-table th:nth-child(1),
        .list-ingredient-table td:nth-child(1) {
            width: 25%;
        }

        .list-ingredient-table th:nth-child(2),
        .list-ingredient-table td:nth-child(2) {
            width: 20%;
        }

        .list-ingredient-table th:nth-child(3),
        .list-ingredient-table td:nth-child(3) {
            width: 20%;
        }

        .list-ingredient-table th:nth-child(4),
        .list-ingredient-table td:nth-child(4) {
            width: 20%;
        }

        .list-ingredient-table th:nth-child(5),
        .list-ingredient-table td:nth-child(5) {
            width: 20%;
        }