@page "/ingredient/{Id:int}"
@inject IIngredientService IngredientService
@inject NavigationManager NavigationManager
@inject IJSRuntime Js

<div class="recipe-view container p-4 rounded">
    <div class="d-flex align-items-center mb-3">
        <button class="btn btn-sm btn-outline-primary d-flex align-items-center me-auto" @onclick="GoBack">
            <img src="icons/back.png" alt="Назад" width="16" class="me-2"/>
            <span>Назад</span>
        </button>
    </div>

    @if (ingredient == null)
    {
        <p>Загрузка...</p>
    }
    else
    {
        <div class="text-center">
            <h2 class="fw-bold mb-3">@ingredient.Name</h2>
        </div> 

        <IngredientForm Ingredient="ingredient"
            IsEditMode="false"
            OnSave="SaveIngredient"
            OnCancel="CancelEdit"/>

        <button class="btn btn-sm btn-outline-secondary" @onclick="EditIngredient">
        <img src="icons/edit.png" alt="Редактировать" width="16" class="me-1"/>
        Редактировать
        </button>
    }
</div>