@page "/recipes/edit/{Id:int}"
@using RecipeApp.Model
@inject RecipesDbContext DbContext
@inject NavigationManager NavigationManager

@if (recipe == null)
{
  <p>Загрузка...</p>
}
else
{
  <RecipeForm Recipe="recipe" OnSave="Save" OnCancel="Cancel" IsEditMode="true" />
}

@code {
  [Parameter] public int Id { get; set; }
  private Recipe? recipe;

  protected override async Task OnInitializedAsync()
  {
    recipe = await DbContext.Recipes
      .Include(r => r.Ingredients)
      .FirstOrDefaultAsync(r => r.Id == Id);
  }

  async Task Save()
  {
    await DbContext.SaveChangesAsync();
    NavigationManager.NavigateTo($"/recipes/{Id}");
  }

  void Cancel()
  {
    NavigationManager.NavigateTo($"/recipes/{Id}");
  }

}