name: Pull request build

on:
  pull_request:
    branches:
      - dev
      - master

jobs:
  pull_request_build:
    uses: GladCom/RecipeApp/.github/workflows/build.yml@dev
    with:
      solution-path: ./RecipeApp/RecipeApp.sln